@model List<Employee>

<h2>Quarterly Sales Data</h2>

@using (Html.BeginForm("Index", "Employees", FormMethod.Get))
{
    <div class="form-group">
        @Html.Label("Filter by Employee:")
        @Html.DropDownList("employeeId", ViewBag.EmployeeId as SelectList, "All", new { @class = "form-control", onchange = "this.form.submit();" })
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>BOD</th>
            <th>Hire Date</th>
            <th>Manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.DateOfBirth</td>
                <td>@item.DateOfHire</td>
                @if (item.Manager != null)
                {
                    <td>@item.Manager.FirstName</td>
                }
                else
                {
                    <td>N/A</td>
                }

            </tr>
        }
    </tbody>
</table>
